.wrapper{
    width: 100%;
    height: 80vh;
    background-image: url('https://blog.fluidui.com/assets/images/posts/imageedit_1_9273372713.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}