

<div class="wrapp">
    <div class="card" style="width: 18rem;">
        <img src="https://www.w3schools.com/w3images/jeans3.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Jeans</h5>
          <p class="card-text">Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum..</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1560343090-f0409e92791a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Shoes</h5>
          <p class="card-text">Some text about the shoes. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum..</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://www.w3schools.com/w3images/jeans3.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Jeans</h5>
          <p class="card-text">Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum..</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1560343090-f0409e92791a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">Shoes</h5>
          <p class="card-text">Some text about the shoes. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum..</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
</div>

