<div class="maindiv">
  <label for="name"> <b>&nbsp;Name:</b> </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="name" [(ngModel)]="name"><br>
    <span>Name is: {{name}} </span><br>

    <label for="age"> <b>&nbsp;Age:</b> </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" id="age" [(ngModel)]="age"><br>
    <span>Age is: {{age}} </span><br>
    

    <label for="ph"> <b>&nbsp;Ph Number:</b> </label>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" id="ph" [(ngModel)]="phnum"><br>
    <span>Ph Number is: {{phnum}} </span>
</div>
